<div class="container mt-4">
    <div class="mr-0 mb-2" >
        <form [formGroup]="searchRecord" (ngSubmit)="searchRecords(searchRecord.value);">
        <input type="text" formControlName="search_text"/>
        <span style="color: red;" *ngIf="search_text && search_text.invalid && search_text.touched">This field is required</span>
        <button class="btn btn-primary btn-sm ml-2">Search</button>
    </form>
    </div>
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
        <tr>
            <td>Id</td>
            <td>Date</td>
            <td>Service Type</td>
            <td>Service Description</td>
            <td>Service Fee</td>
            <td>Fee Paid</td>
            <td>Remaining Fee</td>
            <td>Customer Name</td>
            <td>Customer Address</td>
            <td>Customer Phone Number</td>
            <td>Delete</td>
        </tr>
        <tr *ngIf="allData.length<=0">
            <td colspan="11" class="text-center">No any data</td>
        </tr>
        </thead>
        <tbody *ngFor="let data of allData;let indexOfelement=index;">
            <tr>
                <td>{{indexOfelement+1}}</td>
                <td>{{data.date | date:'short':'IST'}}</td>
                <td>{{data.serviceType}}</td>
                <td>{{data.serviceDescription}}</td>
                <td>{{data.serviceFee}}</td>
                <td>{{data.feePaid}}</td>
                <td>{{data.remainingFee}}</td>
                <td>{{data.customerName}}</td>
                <td>{{data.customerAddress}}</td>
                <td>{{data.phoneNumber}}</td>
                <td><button class="btn btn-danger" (click)="deleteDailyRecordData(data._id)">Delete</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
            <td>Id</td>
            <td>Date</td>
            <td>Service Type</td>
            <td>Service Description</td>
            <td>Service Fee</td>
            <td>Fee Paid</td>
            <td>Remaining Fee</td>
            <td>Customer Name</td>
            <td>Customer Address</td>
            <td>Customer Phone Number</td>
            <td>Delete</td>
        </tr>
        </tfoot>
    </table>
    <ng-http-loader></ng-http-loader>
</div>